h1 Jade - node template engine
p.
  Jade is a terse and simple
  templating language with a
  strong focus on performance
  and powerful features.

h1 An example...

h2 Add new hero

hero-creation("(onCreate)"="newHero($event)")

h2 List of heroes

#heroes
  hero-detail(
    *ngFor="let hero of heroes",
    [hero]="hero"
  )
